/* Estilo básico y colores */
    .carrusel {
      width: 500px; /* Ajusta el ancho según sea necesario */
      height: 300px; /* Ajusta la altura según sea necesario */
      overflow: hidden; /* Oculta las imágenes que se salen del contenedor */
    }

    .carrusel-contenedor {
      display: flex;
      transition: transform 0.5s ease; /* Transición suave para el desplazamiento */
      width: 100%; /* Ocupa el 100% del ancho del contenedor padre */
      height: 100%; /* Ocupa el 100% de la altura del contenedor padre */
      /* Aquí puedes agregar más estilos para el contenedor */
    }

    .carrusel-contenedor img {
      width: 500px; /* El ancho de cada imagen debe ser igual al ancho del carrusel */
      height: 300px; /* El alto de cada imagen debe ser igual al alto del carrusel */
      /* Aquí puedes agregar más estilos para las imágenes */
    }